@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Nanum+Gothic&family=Noto+Sans+Shavian&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --blue:#162440;
    --blanc:#FFE;
    --light:#9AAFD9;
    --lightblue:#5D75A6;
    --green:#03A678;
}

*{
    font-family: 'Montserrat', sans-serif;   
}
body{
    background-color: var(--blue);
}
.nav{
    background: var(--blanc);
    color: #03A678;
    transition: 0.5s ease;
}
#logo{
    padding: 10px;
    box-shadow: 0 2px 6px 0 rgba(255, 255, 255, 0.7);
    transition: 0.3s;
    transform: scale(1);
}
#logo:hover{
    background: var(--blue);
    box-shadow: 0 2px 6px 0 var(--green);
    transform: scale(1.05);
}
#logo svg{
    width: 40px;
    height: 40px;
    padding: 5px;
    margin-bottom: 10px;
    transition: 0.3s;
    transform: scale(1);
}
#logo:hover svg{
    color: var(--blanc);
}
#logo svg:hover{
    transform: scale(1.1);
}
#header{
    transition: 2.5s;
    transition-timing-function:cubic-bezier(0.5, 1.6, 0.4, 0.7);
    transform: translateY(-400px);
    opacity: 0;
}
#header.active{
    transform: translateY(0);
    opacity: 1;
}

#btn:hover{
    transition: 0.3s;
    transition-timing-function:cubic-bezier(0.5, 1.6, 0.4, 0.7);
    background: var(--green);
    color: var(--blanc);
}
#spacer{
    transition: 1.5s ease-in;
    transform: scale(0);
    opacity: 0;
}
#spacer.active{
    transform: scale(1);
    opacity: 1;
}