@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Nanum+Gothic&family=Noto+Sans+Shavian&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --blue:#162440;
    --blanc:#FFE;
    --light:#9AAFD9;
    --lightblue:#5D75A6;
    --green:#03A678;
}
::-webkit-scrollbar{
    display: none;
}
*{
    font-family: 'Montserrat', sans-serif;   
}
body{
    background-color: var(--blue);
}
.nav{
    background: var(--blanc);
    color: #03A678;
    transition: 0.5s ease;
}
#logo{
    padding: 10px;
    box-shadow: 0 2px 6px 0 rgba(255, 255, 255, 0.7);
    transition: 0.3s;
    transform: translateX(-100px);
}
#logo.active{
    transform: translateX(0);
}
#logo:hover{
    background: var(--blue);
    box-shadow: 0 2px 6px 0 var(--green);
    transform: scale(1.05);
}
#logo svg{
    width: 40px;
    height: 40px;
    padding: 5px;
    margin-bottom: 10px;
    transition: 0.3s;
    transform: scale(1);
}
#logo:hover svg{
    color: var(--blanc);
}
#logo svg:hover{
    transform: scale(1.1);
}
#header{
    transition: 2.5s;
    transition-timing-function:cubic-bezier(0.5, 1.6, 0.4, 0.7);
    transform: translateY(-400px);
    opacity: 0;
}
#header.active{
    transform: translateY(0);
    opacity: 1;
}

#btn:hover{
    transition: 0.3s;
    transition-timing-function:cubic-bezier(0.5, 1.6, 0.4, 0.7);
    background: var(--green);
    color: var(--blanc);
}
#spacer,#projet{
    transition: 0.5s ease-in;
    transform: scale(0);
    opacity: 0;
}
#spacer.active , #projet.active{
    transform: scale(1);
    opacity: 1;
}
.slider,#listsvg{
    display: none;
}
@media (max-width: 700px) {
    body{
        overflow-x: hidden;
    }
    #nav{
        width: 100vw;
        height:60px;
        position:fixed;
        top:0;
    }
    #listsvg{
        display: block;
    }
    .navul{
        display: block;
        position: absolute;
        top: 100%;
        right: 0;
        transition: 0.5s ease;
        transform: translateX(100vw);
        flex-direction: column;
        width: 90vw;
        height: 50vh;
        background: #09081a;
        color: #f1f1f1;
        padding: 10px;
        z-index: 100;
    }
    .navul li {
        margin: 20px;
    }
    .navul  a {
        font-size: 25px;
    }
    .navul.active{
        transform: translateX(0);
    }
    .nav.active svg{
        color:var(--green)
    }
    #logo{
        display:none;
    }
    #header{
        width:100vw;
        left:0;
        top:100px;
        margin-bottom: 20px;
    }
    #header h1{
        font-size:35px;
    }
    #header #par{
        width:96vw;
    }
    #header p{
        font-size:20px;
    }
    #header a{
        font-size:28px;
    }
    #about{
        width:100vw;
        flex-direction:column;
    }
    #about div{
        width:100%;
        margin-left:0;
        margin-bottom:70px;
    }
    #about p{
        font-size:20px;
    }

}